#container {
  max-width: 600px;
  margin: 0 auto;
  padding-inline: 20px;
  text-align: center;
}

#container ol#scoreboard-list {
  padding-left: 0px;
}

#container li.scoreboard-line {
  text-align: left;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  list-style: none;
  /* This children will be set in a flex property */
  display: flex;
  /* Flex property to manage how elements are positioned on the line */
  justify-content: space-between;
}

.good-score {
  background-color: lime;
}

.bad-score {
  background-color: tomato;
}
