#container {
  max-width: 600px;
  margin: 0 auto;
  padding-inline: 20px;
  text-align: center;
}
/* is:(1) has a higher specificity as :where (0) */
:is(ul, li) {
  list-style: square;
}

:is(#container ol#scoreboard-list, #container ul#how-to-read) {
  list-style: none;
  padding-left: 0px;
}
:is(#container ol#scoreboard-list li.scoreboard-line, #container
    ul#how-to-read
    .li-how-to-line) {
  text-align: left;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  list-style: none;
  /* This children will be set in a flex property */
  display: flex;
  /* Flex property to manage how elements are positioned on the line */
  justify-content: space-between;
}

.scoreboard-line.good-score,
.li-how-to-line.good-score {
  background-color: lime;
}

.scoreboard-line.bad-score,
.li-how-to-line.bad-score {
  background-color: tomato;
}

:where(.scoreboard-line > span.item-name) {
  font-weight: bold;
}
a[href^="http"] {
  color: violet;
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  background-color: aquamarine;
}

a:last-of-type {
  color: blue;
}

li.scoreboard-line::after {
  visibility: hidden;
  transition-property: visibility;
  transition-delay: 3s;
}
li.scoreboard-line:hover::after {
  visibility: visible;
  content: "Some usefull information about this score line.";
  position: absolute;
  right: 25px;
  border: 1px solid grey;
  background-color: lightgrey;
  border-radius: 3px;
}
